*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add some styling to the navbar */
nav {
    background-color: #333;
    overflow: hidden;
}

/* Style the navbar links */
nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #4CAF50;
    color: white;
}

h1{
    text-align:center;
    padding: 5px;
}

/* Add some spacing and styling to the form elements */
form {
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow:hidden;
    /* justify-content: flex-start; */
}

label {
    font-weight: bold;
    margin-right: 10px;
}


.test {
    margin: 40px;
}

/* Add some spacing and styling to the table */
table {
    border-collapse: collapse;
    width: 100%;
}



th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Add some hover effect to the table rows */
tr:hover {
    background-color: #f5f5f5;
}

/* Add some styling to the action buttons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 7.5px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background: rgb(37, 202, 37);
}

#del {
    background: rgb(226, 38, 38);
}

#del:hover {
    background:red;
}