<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../generateInvoice/styleInvoice.css">
    <title>ShopLedger</title>
</head>
<body onload="loadInventory()">
    <nav>
        <ul>
          <li><a href="../../index.html">Show Inventory</a></li>
          <li><a href="../salesReport/index.html">View Sales Report</a></li>
          <li><a href="#" class="active">Generate Invoice</a></li>
        </ul>
    </nav>
    <!-- container -->
    <div class="container">
        <h2>ShopLedger</h2>
        <!-- buttons div -->
        <!-- <div class="btn-container">
            <button>Scan Barcode</button>
            <div class="search-container">
                <input type="text" id="search-content" placeholder="Enter the item name">
                <button>Search</button>
            </div>
        </div> -->

        <!-- Invoice and Inventory container -->
        <div class="inventory-invoice">
            <!-- inventory-container -->
            <div class="inventory-container">
                <h3>Items in Inventory</h3>
                <table id="inventoryTable">
                    <tr>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>

            <!-- invoice container -->
            <div class="invoice-container">
                <div class="invoice-header">
                    <h3>M/S Ananda Fashion</h3>
                    <p>Dipa Mansion Market, Hajiganj, Chandpur</p>
                </div>
                <div class="invoice-items" id = 'invoice-items'>
                    <table id="invoiceTable">
                        <tr>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <p id="amountPayable"></p>
                </div>
                <div id="btn-print">
                    <button onclick="printInvoice()"> Print Invoice</button>
                </div>
            </div>
        </div>

    </div>
    <script src="./invoiceScript.js"></script>
</body>
</html>